@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.font-style-bold{
  font-family: 'Roboto', sans-serif;
  font-size:5vh ;
}
.content-align{
  margin-left: 15%;
}
/* <Navbar.Brand href="#home" className="font-style-bold p-3"><h2>LOGOIPUSIM</h2></Navbar.Brand> */